.project
.eclipse
.pydevproject
.classpath
.settings
.vscode/
bin/
/results/*
/src/quabla/gui
/src/quabla/parameter
/Result_*
__pycache__/
venv/
.venv/
*.jar
lib/*
!lib/setup_jackson.py
.DS_Store